<!DOCTYPE html>
<html lang="en" ng-app="notesApp">

<head>
    <meta charset="UTF-8">
    <title>Simple angular JS Service</title>
</head>

<body ng-controller="MainCtrl as mainCtrl">
    <h1>Hello Controllers!</h1>
    <button ng-click="mainCtrl.open('first')">
        Open first
    </button>
    <button ng-click="mainCtrl.open('second')">
        Open second
        </button>
    <div ng-switch on="mainCtrl.tab">
        <div ng-switch-when="first">
            <div ng-controller="SubCtrl as ctrl">
                <h3>First Tab</h3>
                <ul>
                    <li ng-repeat="item in ctrl.list()">
                        <span ng-bind="item.label"></span>
                    </li>
                </ul>
                <button ng-click="ctrl.add()">
                    Add More Items
                </button>
            </div>
            <div ng-switch-when="second">
                <div ng-controller="SubCtrl as ctrl">
                    <h3>Second tab</h3>
                    <ul>
                        <li ng-repeat="item in ctrl.list()">
                            <span ng-bind="item.label"></span>
                        </li>
                    </ul>
                    <button ng-click="ctrl.add()">
                    Add More Items
                </button>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js">
        </script>
        <script src="app.js"></script>
</body>

</html>