<!DOCTYPE html>
<html lang="en" ng-app="notesApp">

<head>
    <meta charset="UTF-8">
    <title>Notes App - checkbox-example</title>
</head>

<body ng-controller="MainCtrl as ctrl">
    <div>
        <select ng-model="ctrl.selectedCountryId" ng-options="c.id as c.label for c in ctrl.countries"></select> Selected Country ID : {{ctrl.selectedCountryId}}
    </div>
    <div>
        <select ng-model="ctrl.selectedCountry" ng-options="c.label for c in ctrl.countries">
            </select> Selected Country : {{ctrl.selectedCountry}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js">
    </script>

    <script>
        angular.module('notesApp', [])
            .controller('MainCtrl', [function() {
                this.countries = [{
                    label: 'Canada',
                    id: 1
                }, {
                    label: 'Iceland',
                    id: 2
                }, {
                    label: 'Other',
                    id: 3
                }];
                this.selectedCountryId = 2;
                this.selectedCountry = this.country[1];
            }]);
    </script>
</body>

</html>